	     h3{
		 font-family:'Courier New', Courier, monospace;
	   }
	   body{
		   background: linear-gradient(#cdc1c8,#b0b0d3);
		   height: 750px;
		   font-family:'Courier New', Courier, monospace;
	   }
	  
	  div.main{
			      background:linear-gradient(rgb(45, 240, 61)	,rgb(202, 245, 197));
				  border-radius:10px;
				  padding: 10px 200px 20px 40px;
				  margin: 250px;
				  position:absolute;
				  top:10px;
				  left:230px;
			  }
	  .mai{
		  margin-left:120px;
	  }
